<form class="form-container" (ngSubmit)="onSubmit(land)" #landForm="ngForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Lot Address" name="address" [(ngModel)]="land.address" />
  </mat-form-field>
  <div fxLayout="row">
    <mat-form-field>
      <input matInput type="text" placeholder="Lot Size in sqm" name="size" [(ngModel)]="land.size" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Lot Width in meters" name="width" [(ngModel)]="land.width" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Lot Length in meters" name="length" [(ngModel)]="land.length" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field>
      <input matInput type="text" placeholder="Price" name="price" [(ngModel)]="land.price" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Price per sqm" name="land.pricePerSqm" />
    </mat-form-field>
  </div>
  <section>
    <mat-checkbox class="checkbox-margin" name="frontLandscaping" [(ngModel)]="land.frontLandscaping">Front Landscaping</mat-checkbox>
    <mat-checkbox class="checkbox-margin" name="rearLandscaping" [(ngModel)]="land.rearLandscaping">Rear Landscaping</mat-checkbox>
    <mat-checkbox class="checkbox-margin" name="fencing" [(ngModel)]="land.fencing">Fencing</mat-checkbox>
    <mat-checkbox class="checkbox-margin" name="title" [(ngModel)]="land.title">Title</mat-checkbox>
    <mat-checkbox class="checkbox-margin" name="noise" [(ngModel)]="land.noise">Noise</mat-checkbox>
  </section>
  <mat-form-field>
    <input matInput type="text" placeholder="Site Class" name="siteClass" [(ngModel)]="land.siteClass" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="BAL" name="bal" [(ngModel)]="land.bal" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Developer" name="developer" [(ngModel)]="land.developer" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Estate" name="estate" [(ngModel)]="land.estate" />
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!landForm.form.valid">Submit</button>
</form>