.card-container {
    max-width: 960px;
  }
  
.form-container {
    display: flex;
    flex-direction: column;
}
  
.full-width {
    width: 100%;
}

.checkbox-margin {
    margin: 0 10px
} 

img {
    max-width: 100%;
    height: auto;
}