<form class="form">
  <mat-form-field>
    <input matInput placeholder="Storys" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Min.Beds" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Max.Beds" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Min.Price" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Max.Price" />
  </mat-form-field>
  <button mat-raised-button>Filter</button>
  <button mat-raised-button routerLink="/houses/edit/new">Add</button>
</form>

<mat-nav-list>
  <a mat-list-item href="/houses/edit/{{house.id}}" *ngFor="let house of houses | async">
    <h4 mat-line>{{house.price}} {{house.name}}</h4>
    <p mat-line>{{house.beds}}x{{house.baths}}x{{house.parking}} Storeys:{{house.storeys}} Size:{{house.size}}sqm Living area:{{house.livingArea}}
      Developer: {{house.developer}}</p>
  </a>
</mat-nav-list>