<form class="form">
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Location" name="Location" [(ngModel)]="location" />
    <button mat-button *ngIf="location" matSuffix mat-icon-button aria-label="Clear" (click)="location=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Min.Price" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Max.Price" />
  </mat-form-field>
  <button mat-raised-button color="accent">Filter</button>
  <button mat-raised-button color="accent" routerLink="/land/edit">Add</button>
</form>

<mat-nav-list>
  <a mat-list-item href="/land/edit" *ngFor="let land of lands | async">
    <mat-icon mat-list-icon>bin</mat-icon>
    <h4 mat-line>{{land.price}} {{land.address}}</h4>
    <p mat-line>{{land.size}}sqm, {{land.width}}x{{land.length}} {{land.developer}} {{land.estate}}</p>
  </a>
</mat-nav-list>